html, body {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: rgb(148 163 184);
}

.loopSINAnimation {
    animation-name: SINAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes SINAnimation {
    0%   {top: 0%}
    50% {top: 100%;}
    100% {top: 0%;}
  }